h1{
background-color: rgb(102, 56, 24);
font-size:80px;
color: ghostwhite;
}
body
{
color:rgb(0, 0, 0);
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
}

button
{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:50px;
background-color: chocolate;
border-radius:30px;
color:ghostwhite;
} 

button:hover
{
background-color:rgb(121, 55, 8) ;
}

canvas{
    background-color:aliceblue;
}
